.classpath
.project
.settings/
*.iml
.idea/

/code/target
/code/*.iml
/code/*.ipr
/code/*.iws
/code/.idea
/dreamcatcher/target
/dreamcatcher/*.iml
/dreamcatcher/*.ipr
/dreamcatcher/*.iws
/dreamcatcher/.idea
/code/clean.bat
.idea
target
/samples/helloworld/helloworld.iml
/samples/helloworld/helloworld.log
/samples/bloggy/*.iml
/samples/bloggy/*.log
