body {
    padding: 0.5em;
}

#header {
}

#content {
    min-height: 15em;
}

.menu {
    float: right;
}

.langs {
    margin-top: 0.5em;
    text-align: right;
}

#footer {
    color: #555;
    margin-top: 5em;
    padding-top: 0.5em;
    font-size: 0.85em;
    border-top: 1px solid #ddd;
    text-align: center;
}

.error {
    color: red;
}

.vertical-form {
    margin: 1em auto;
    width: 20em;
}

.vertical-form .field-names {
    text-align: right;
    padding-right: 1em;
}

.vertical-form td {
    padding: 0.2em;
    text-align:left;
}

.vertical-form input.textbox {
    width: 15em;
}

.vertical-form input.button {
    padding: 0 2em;
}

.vertical-form td.buttons {
    padding-top: 1em;
    text-align: center;
}

.login-form {
    margin-top: 10em;
}

.register-form {
    margin-top: 10em;
}

.under {
    font-size: 0.75em;
    position: relative;
    bottom: 0.5em;
}

.caption {
    margin: 2em 0 0.25em 1em;
    font-size: 1.25em;
}

.caption a, .caption span {
    margin-right: 0.5em;
}
.grid {
    width: 98%;
    margin: 0.25em 1em 0 1em;
}

.grid tr {
}

.grid tr td {
    font-size: 100%;
    border: 1px solid #B2B2B2;
    padding: 0.25em 0.5em;
}

.grid tr th {
    font-size: 100%;
    border: 1px solid #B2B2B2;
    text-align: center;
    padding: 0.25em;
    color: rgb(0, 0, 204);
    background-color: #e5ecf9;
    font-weight: bold;
}

.authored {
    background-color: #f4f4f4;
}

.centered {
    text-align: center;
}

.actions {
    float: right;
    margin-right: 0.75em;
    font-size: 1.25em;
}

.add-post-form {
    width: 40em;
}

.textarea {
    width: 40em;
    height: 10em;
}